<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Devices.Client.PCL" version="1.0.6" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="win81" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="win81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="win81" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.2" targetFramework="win81" />
  <package id="Xam.Plugin.Geolocator" version="4.0.0-beta4" targetFramework="win81" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="win81" />
  <package id="Xamarin.Forms" version="2.0.0.6482" targetFramework="win81" />
</packages>